[defaults]
inventory = inventories/examples/three-node-gb10.yml
roles_path = roles
collections_path = .ansible/collections:~/.ansible/collections
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
